
  
  .product > .inner {
    .productPart article.pic {
      width: 400px;
      height: 300px;
      background-color: #555;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
    }
  
    .productPart1 {
      width: 100%;
      overflow: hidden;
  
      article {
        &:nth-of-type(1) {
          float: left;
          width: 470px;
          height: 500px;
          background-image: url(../img/content_28.jpg);
        }
  
        &:nth-of-type(2) {
          float: right;
          width: 680px;
          height: 300px;
          background-image: url(../img/content_1.jpg);
          transform: translate(0, 0);
        }
  
        &:nth-of-type(3) {
          float: right;
          width: 680px;
          height: 200px;
          padding-top: 50px;
          box-sizing: border-box;
        }
      }
  
      h2 {
        padding-bottom: 15px;
      }
  
      p {
        font-weight: 300;
      }
    }
  
    .productPart2 {
      padding: 150px 0;
      overflow: hidden;
  
      article {
        float: left;
        width: 380px;
        margin-right: 20px;
  
        &:nth-of-type(3n) {
          margin-right: 0;
        }
  
        &:nth-of-type(1), &:nth-of-type(2), &:nth-of-type(3) {
          margin-bottom: 80px;
        }
  
        .pic {
          width: 100%;
          height: 240px;
          background-color: #555;
          background-position: center;
          background-size: cover;
          background-repeat: no-repeat;
        }
  
        h3 {
          padding: 10px 0;
          font-weight: 300;
          text-align: center;
        }
  
        h4 {
          font-weight: 400;
          text-align: center;
        }
      }
    }
  
    .productPart3 {
      .left {
        float: left;
        width: 580px;
  
        h2 {
          padding-bottom: 15px;
        }
  
        p {
          max-height: 145px;
          overflow: hidden;
          font-weight: 300;
          line-height: 1.5;
        }
      }
  
      .right {
        float: right;
        width: 580px;
  
        ul {
          overflow: hidden;
  
          > li {
            float: left;
            margin-right: 11px;
  
            &:nth-last-of-type(1) {
              margin-right: 0;
            }
  
            &.pic {
              width: 186px;
              height: 190px;
              background-color: #555;
              background-position: center;
              background-size: cover;
              background-repeat: no-repeat;
            }
          }
        }
      }
    }
  }

  /* ------tablet-------- */
@media screen and (max-width:$tablet){ 
  .product > .inner {
    width: 100%;
    padding: 0 30px 100px;
    box-sizing: border-box;
  
    .productPart1 {
      width: 100%;
      overflow: visible;
  
      article {
        &:nth-of-type(1) {
          float: left;
          width: 48%;
          height: 300px;
        }
  
        &:nth-of-type(2) {
          float: right;
          width: 50%;
        }
  
        &:nth-of-type(3) {
          float: left;
          width: 100%;
        }
      }
    }
  
    .productPart2 {
      width: 100%;
      padding: 80px 0;
      box-sizing: border-box;
  
      article {
        float: left;
        width: 48%;
        margin-right: 0px;
  
        &:nth-of-type(3n) {
          margin-right: 0px;
        }

        &:nth-of-type(odd) {
          margin-right: 20px;
        }
  
        &:nth-of-type(1), &:nth-of-type(2), &:nth-of-type(3) {
          margin-bottom: 0px;
        }
  
        
      }
    }
  
    .productPart3 {
      .left {
        float: none;
        width: 100%;
  
        h2 {
          padding-bottom: 15px;
        }
      }
  
      .right {
        float: none;
        width: 100%;
  
        ul {
          overflow: visible;
          width: 100%;
          padding: 25px 0;
  
          > li {
            float: left;
            margin-right: 0;
  
            &:nth-last-of-type(1) {
              margin-right: 0;
            }

            &:nth-of-type(2) {
              margin:0 11px;
            }
  
            &.pic {
              width: 32%;
            }
          }
        }
      }
    }
  }
}


/* ------mobile-------- */
@media screen and (max-width:$mobile){  
  .product > .inner {
    width: 100%;
    padding: 0 30px 80px;
    box-sizing: border-box;

    h1{font-size: 28px;}
  
    .productPart1 {
  
      article {
        &:nth-of-type(1) {
          float: none;
          width: 100%;
          margin-bottom: 20px;
        }
  
        &:nth-of-type(2) {
          float: none;
          width: 100%;
        }
  
        &:nth-of-type(3) {
          float: none;
          width: 100%;
        }
      }
    }
  
    .productPart2 {
  
      article {
        float: none;
        width: 100%;
        margin-right: 0px;
        padding-bottom: 20px;

        &:nth-of-type(odd) {
          margin-right: 0px;
        }
  
      }
    }
  
    .productPart3 {
  
      .right {
  
        ul {
          
          > li {
            float: none;

            &:nth-of-type(2) {
              margin:20px 0 20px;
            }
  
            &.pic {
              width: 100%;
            }
          }
        }
      }
    }
  }
}
