#scroll_wrap > div {
    width: 100%;
    position: relative;
    //height: 100vh !important;
  }
  
  .box1 {
    height: 0px;
  }
  
  .box2 {
    height: 930px;
    background: red;
  }
  
  .box3 {
    height: 2080px;
  }
  
  .box4 {
    height: 2808px;
  }
  


  
  #scroll_navi {
    position: fixed;
    right: 50px;
    top: 50%;
    z-index: 100;
    margin-top: -60px;
  
    li {
      width: 20px;
      height: 20px;
      background: red;
      margin-bottom: 10px;
      border-radius: 10px;
      cursor: pointer;
  
      &.on {
        background: #000;
      }
    }
  }