@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;700;900&display=swap');

/*  Reset CSS  */
* { margin:0;  padding:0;}
ol,ul,li { list-style: none; }
a { outline:0; text-decoration:none; color: #444;}
img,fieldset { border:0;}
table, th, td {border-collapse: collapse;}
input, select, textarea, form, img, label{vertical-align: middle; box-sizing: border-box;}
textarea {resize: none;}

.hidden{position: absolute; top: -99999px; opacity: 0;}

/* float해제 디폴트 */
.wrap::after {content:''; display:block; clear:both;}

/* 화살표 디폴트 */
.arrow .prev {width:20px; height:20px; position:absolute; left:-60px; top:50%; transform:translateY(-50%); }
.arrow .prev::before {content:''; width:100%; height:2px; background:#555; position:absolute; top:50%; left:0px; transform-origin:left center; transform:rotate(-45deg);}
.arrow .prev::after {content:''; width:100%; height:2px; background:#555; position:absolute; top:50%; left:0px; transform-origin:left center; transform:rotate(45deg);}

.arrow .next {width:20px; height:20px; position:absolute; right:-60px; top:50%; transform:translateY(-50%); }
.arrow .next::before {content:''; width:100%; height:2px; background:#555; position:absolute; top:50%; right:0px; transform-origin:right center; transform:rotate(-45deg);}
.arrow .next::after {content:''; width:100%; height:2px; background:#555; position:absolute; top:50%; right:0px; transform-origin:right center; transform:rotate(45deg);}

$tablet : 1179px;
$mobile : 639px;

/* 공통 */
*{font-family: 'Rubik', sans-serif;}
.inner{width: 1180px; margin: 0 auto;}

/* ------tablet-------- */
@media screen and (max-width:$tablet){ 
    
    .inner{width: 100%;}

}


/* ------mobile-------- */
@media screen and (max-width:$mobile){  
  
}

/*main*/
@import "main/header/header";
//@import "main/scroll/scroll";
@import "main/visual/visual";
@import "main/news/news";
@import "main/product/product";
@import "main/service/service";
@import "main/footer/footer";

/*sub*/
@import "sub/header/header";
@import "sub/about/about";
@import "sub/members/members";
@import "sub/news/news";
@import "sub/product/product";
@import "sub/department/department";
@import "sub/footer/footer";

//sub common layout

#content {width: 100%;}
#sub_visual {
    width: 100%;
    height: 250px;
    background-color: #222;
    opacity: 0.7;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;

    .visual_inner {
      width: 1180px;
      margin: 0 auto;

      > div {
        padding: 20px;
        width: 120px;
        height: 120px;
        background: #000;
        box-sizing: border-box;

        p {
          &:first-of-type::after {
            content: "";
            display: block;
            margin: 15px 0;
            width: 80px;
            height: 2px;
            background: #fff;
          }

          font-size: 15px;
          color: #fff;
          text-align: center;
        }
      }
    }
  }

  .inner {
    width: 1180px;
    min-height: 500px;
    margin: 0 auto;

    h1 {
      font-size: 40px;
      transform: translateY(-37px);
      font-weight: 500;

      > span {
        color: #fff;
      }
    }

    .wrap {
      padding: 100px 0;
      box-sizing: border-box;
    }
}
